.container{
  display: grid;
  /* background-color: lightgray; */
  width: 80vw;
  height: 50vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 3fr;
  grid-template-areas:
  'box1 box2 box3'
  'box4 box4 box4'
  ;
  row-gap: 10px;
  column-gap: 10px;
  margin-right: auto;
  margin-left: auto;
}

.box1{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: lightblue;
  grid-area: box1;
}

.box2{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: lightblue;
  text-align: center;
  grid-area: box2;
}
.box3{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: lightblue;
  text-align: center;
  grid-area: box3;
}
.box4{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: lightblue;
  text-align: center;
  grid-area: box4;
}

.pinkCircle1{
  border-radius: 50%;
  background-color: hotpink;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 17%; 
  left: 12%;
  z-index: 1;
}

.pinkCircle2{
  border-radius: 50%;
  background-color: hotpink;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 5%;
  left: 12%;
  z-index: 1;
}

.pinkCircle3{
  border-radius: 50%;
  background-color: hotpink;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 6%;
  left: 38%;
  z-index: 1;
}

#pinkCircle{
  background-color: hotpink;
  top: 10%;
  left: 29%;
}
.bigCircle{
  border-radius: 50%;
  background-color: yellow;
  position: absolute;
  width: 75px;
  height: 75px;
  top: 7%;
  left: 20%;
  z-index: 1;
}

.smallYellowCircle{
  border-radius: 50%;
  background-color: yellow;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 25%;
  left: 19%;
  z-index: 1;
}